body {
  background-color: blue;
}

h1 {
  font-family: verdana;
  color: white;
  font-size: 40px;
  text-align: center;
}

p { 
font-family: timesnewromans;
  color: white;
  font-size: 24px;
  text-align: 10px;
}
