body {
  background-color: lightred;
}

h1 {
  font-family: ribeye;
  color: cream;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: cream;
  text-align: center;
  font-size: 16px;
  font-family: ribeye
}

p { 
font-family: Pompiere;
  color: black;
  font-size: 24px;
  text-align: 20px;
}

img {
  display: rectangle
  width: 500;
  img-align: center;
}
  
  
