body {
  background-image: lightblue;
}

h1 {
  font-family: Ribeye;
  color: black;
  font-size: 40px;
  text-align: center;
}

p { 
font-family: Pompiere;
  color: black;
  font-size: 24px;
  text-align: 20px;
}
