body {
  background-image: url("project1img/sore6.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.myelement {
  margin-top: 50px;
  margin-bottom: 100px;
}

h1 {
  font-family: 'UnifrakturCook', cursive;
  color: black;
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 4px;
  **display: block;**
  **margin: 20px auto;**
}

p {
  font-family: **"Times New Roman", serif;**
  color: black;
  font-size: 16px;
  font-style: normal;
  **text-align: center;**
}

