body {
  background-image: url("project1img/sore6.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin:0;
  padding:0;
}

.myelement {
  margin-top: 50px;
  margin-left: 100px;
}

h1 {
  font-family: timesnewromans;
  color: black;
  font-weight:400;
  font-style: normal;
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 4px;
}

p {
  font-family:times;
  color: black;
  font-size: 16px;
  font-style: normal;
} 
  
