body {background-color: lightred;}

h1 {font-family: timesnewromans;
  color: white;
  text-align: center;}

h2 {color: white;
  text-align: center;
  font-size: 16px;
  margin-top: -10px;
  font-family: timesnewromans;}

p {font-family: Pompiere;
  color: black;
  font-size: 24px;
  text-align: 20px;}

img {
  display: block;
  width: 500;
  img-align: center;}
  
  
