body {
  background-image: url("project1img/sore6.jpeg");
}

h1 {
  font-family: timesnewromans;
  color: black;
  font-weight:400;
  font-style: normal;
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 4px;
}

p {
  font-family:times;
  color: black;
  font-size: 16px;
  font-style: normal;
} 
  
